<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>MyLIB - Perfil de Usuario</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/personal.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/content" class="brand-logo">MyLIB</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/content"><i class="material-icons right">book</i>Mis libros</a></li>
                    <li><a href="/find"><i class="material-icons right">search</i>Buscar</a></li>
                    <li class="active"><a href="/profile"><i class="material-icons right">account_circle</i>Mi Perfil</a></li>
                    <li><a class="waves-effect waves-light btn" href="/logout">Cerrar Sesi칩n <i class="material-icons right" id="exit">exit_to_app</i></a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/content"><i class="material-icons right">book</i>Mis libros</a></li>
                    <li><a href="/find"><i class="material-icons left">search</i>Buscar</a></li>
                    <li><a href="/profile"><i class="material-icons left">account_circle</i>Mi Perfil</a></li>
                    <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Cerrar Sesi칩n</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <br>
    <div class="row">
        <div class="col s8 offset-s2">
          <h1 class="center-align">Informaci칩n Personal</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card grey lighten-5">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3">
                            <img class="materialboxed" width="90%" src="images/profileimg.png">
                        </div>
                        <form class="col s9">
                            <div class="row">
                                <div class="input-field col s12">
                                  <% if (user.local.email) { %>
                                      <input disabled value="<%= user.local.email %>" id="disabled" type="text" class="validate">
                                  <% } %>
                                    <label for="disabled">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                  <% if (user.local.password) { %>
                                      <input disabled value="<%= user.local.password %>" id="disabled" type="password" class="validate">
                                  <% } %>
                                    <label for="disabled">Contrase침a</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://use.fontawesome.com/f31f9c5054.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>