.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-top: 10px;
}

.card-content a {
  color: #444;
}

.material-icons {
  color: #19d0bf;
}

#servicio, #equipo {
  padding-top: 6rem;
}

.social-width {
    width: 30px !important;
}

#tarjeta_login {
  margin-top: 40px;
  height: 500px;
}

#tarjeta_registro {
  margin-top: 40px;
  height: 800px;
}

#boton_twitter_login {
  background-color: #1dadea;
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}

#boton_google_login {
  background-color: #cf4332;
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}

#boton_twitter_registro {
  background-color: #1dadea;
  display: inline-block;
  margin-top: 3px;
  width: 100%;
}

#boton_google_registro {
  background-color: #cf4332;
  display: inline-block;
  margin-top: 15px;
  width: 100%;
}

#reg {
  width: 100%;
}

#login {
  width: 85%;
}

#enviar {
  color: white;
}

.terminos {
  display: inline-block;
  padding: 10px;
  margin-top: 100px;
}

.center-btn {
  text-align: center;
}

#exit {
    color: #fff;
}

.btn {
  background-color: #19d0bf;
}

#username {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-stretch: condensed;
  font-size: 2.1rem;
}

label {
  color: #444 !important;
}