.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-top: 10px;
}

.card-content a {
  color: #444;
}

.material-icons {
  color: #19d0bf;
}

#servicio, #equipo {
  padding-top: 6rem;
}

.social-width {
    width: 30px !important;
}