<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>MyLIB</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../public/css/tutu.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../../public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">MyLIB</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#servicio">Servicio</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#equipo">Equipo</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Iniciar sesión</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#servicio">Servicio</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#equipo">Equipo</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Iniciar sesión</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Tu biblioteca en la nube</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Organiza tus libros favoritos de la manera más sencilla</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Regístrate</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="../../public/images/libro2.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row" id="servicio">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">book</i></h2>
                        <h5 class="center">Búsqueda y gestión</h5>

                        <p class="light">Encuentra tu libro gracias a nuestro buscador actualizado. En caso de no estar disponible, añádelo sin problemas.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                        <h5 class="center">Gestión desde la nube</h5>

                        <p class="light">No tendrás que preocuparte por el almacenamiento. Gracias a nuestra base de datos, podrás acceder desde cualquier lugar.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">devices</i></h2>
                        <h5 class="center">Totalmente responsivo</h5>

                        <p class="light">Se podrá acceder a la plataforma desde cualquier dispositivo. Al estar adaptado para todos los dispositivos, no tendrás ningún problema.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="../../public/images/libro1.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row" id="equipo">
                <div class="col s12 center">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="card card-avatar">
                                    <div class="waves-effect waves-block waves-light">
                                        <img class="activator" src="../../public/images/dev1.jpg">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">Alejandro Arzola <br/>
                                          <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                                        <p>
                                            <a href="https://github.com/aleag"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                                            <a href="https://aleag.github.io/"><i class="fa fa-user fa-3x" aria-hidden="true"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card card-avatar">
                                    <div class="waves-effect waves-block waves-light">
                                        <img class="activator" src="../../public/images/dev3.jpg">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">
                                          Carlos de Armas <br/>
                                          <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                                        <p>
                                          <a href="https://github.com/alu0100816167"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                                          <a href="https://alu0100816167.github.io/"><i class="fa fa-user fa-3x" aria-hidden="true"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card card-avatar">
                                    <div class="waves-effect waves-block waves-light">
                                        <img class="activator" src="../../public/images/dev2.jpg">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">Samuel Valcárcel<br/>
                                          <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                                        <p>
                                          <a href="https://github.com/cosaca"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                                          <a href="https://cosaca.github.io/"><i class="fa fa-user fa-3x" aria-hidden="true"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row" id="contacto">
                <div class="col l6 s12">
                    <h5 class="white-text">Contacto</h5>
                    <p class="grey-text text-lighten-4">Somos un equipo de estudiantes universitarios trabajando en este proyecto. Para cualquier duda, encontrarán la info de contacto en el apartado de equipo.</p>

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://use.fontawesome.com/f31f9c5054.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../public/js/materialize.js"></script>
    <script src="../../public/js/init.js"></script>

</body>

</html>