<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>MyLIB - Registro</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/personal.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">MyLIB</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <% if (message.length > 0) { %>
                    <div class="card-panel red lighten-1">
                        <span class="white-text center-align"><%= message %></span>
                    </div>
                    <% } %>
                        <div class="card-panel teal grey lighten-5" id="tarjeta_registro">
                            <div class="row">
                                <form class="col s12" action="/register" method="post">
                                    <h4>Regístrate ahora</h4>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="first_name" type="text" class="validate">
                                            <label for="first_name">Nombre</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" type="text" class="validate">
                                            <label for="last_name">Apellidos</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="username" type="text" class="validate">
                                            <label for="username">Nombre de usuario</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="password" type="password" class="validate" name="password">
                                            <label for="password">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate" name="email">
                                            <label for="email">Correo electrónico</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="birthday" type="date" class="datepicker">
                                            <label for="birthday">Fecha de Nacimiento</label>
                                        </div>
                                    </div>
                                    <button class="btn waves-effect waves-light" type="submit" name="action" id="reg">Registrarme
                            <i class="material-icons right" id="enviar">send</i>
                        </button>
                                    <div class="row">
                                        <div class="col s12">
                                            <p>En caso de tener cuenta en redes sociales:</p>
                                            <a id="boton_twitter_registro" class="waves-effect waves-light btn"><i class="fa fa-twitter left" aria-hidden="true"></i>Entra con Twitter</a>
                                            <a id="boton_google_registro" class="waves-effect waves-light btn"><i class="fa fa-google left" aria-hidden="true"></i>Entra con Google</a>
                                            <a id="boton_github_registro" class="waves-effect waves-light btn"><i class="fa fa-github left" aria-hidden="true"></i>Entra con Github</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://use.fontawesome.com/f31f9c5054.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>